* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #181818;
    color: white;
    margin: 0;
}

header {
    background-color: #1DB954;
    padding: 25px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.sidebar {
    width: 220px;
    background-color: #1DB954;
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.sidebar h3 {
    margin: 0 0 15px 0;
    font-size: 1.5em;
    text-align: left;  
}

.sidebar input,
.sidebar button {
    width: 100%; 
    margin: 10px 0; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    color:#1DB954
}

.sidebar button {
    background-color: #1AA34A;
    color: white;
    cursor: pointer;
}


.sidebar button:hover {
    background-color: #12893D;
}

.page-content {
    display: flex;
}

main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: hidden;
}

h2 {
    margin-bottom: 20px;
}

.playlists-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.playlist {
    background-color: #333;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    align-items: center;    
    transition: transform 0.2s;
}

.playlist:hover {
    transform: scale(1.05);
}

.playlist img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer; 
}

.playlist-info {
    flex-grow: 1;
}

.playlist-title {
    font-weight: bold;
    margin: 0;
    overflow:hidden
    
}

.playlist-description {
    font-size: 0.9em;
    color: #b3b3b3;
}

footer {
    background-color: #282828;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 8%;
    
}

#searchButton {
    padding: 10px 15px;
    border: none;
    background-color: #1AA34A;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #1AA34A;
}

#audioPlayer{
    position: fixed;
    bottom: 0;  
    left: 50%;    
    width: 100%; 
    background-color: #333; 
    color: white;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    align-self: center;
    transform: translateX(-61.5%); 
    max-width: 600px; 
    max-width: 600px;
}


main {
    display: flex;
    flex-direction: column;
    padding: 50px;
    overflow-y: auto;
    min-height: 100vh; 
}

#profileButton {
    position:fixed;
    top: 20px; 
    right: 20px; 
    background-color: #4CAF50;
    color: white; 
    font-size: 16px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#profileButton:hover {
    background-color: #45a049; 
    transform: translateY(-2px); 
}

#profileButton:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(33, 126, 75, 0.5); 
}
